* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(res/BackGround.jpg);
    background-size: 100%;
    background-position: center;
}

#ajax {
    width: 60%;
    padding: 5px;
    background: none;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-bottom: 2px solid rgb(117, 115, 115);
}

#submit-btn {
    background: rgb(151, 153, 152);
    padding: 4px;
    border-radius: 4px;
    font-size: 20px;
    margin-left: 15px;
}

.main-container {
    width: 65%;
    text-align: center;
    margin: 40px auto;
}